# pip install -r requirements.txt
blueprint==3.4.2
Flask==1.1.2
Flask-JWT-Extended==3.14.0
Flask-Cors==3.0.9
flask-restx==0.2.0
Werkzeug==0.15.6
google-cloud-core==1.4.1
google-cloud-datastore==1.15.0
google-cloud-ndb==1.5.1
grpcio
PyJWT==1.6.4
grpcio-tools
gunicorn
pytest-cov
coverage
pytest
protorpc
